*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: black;
    width: 100%;
    color: white;
    
    padding: 20px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.items{

}

.banner{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid gray;
    align-items: center;
    background-color: black;
}